@font-face {
    font-family: 'Lovelo'; /*a name to be used later*/
    src: url('/fonts/LoveloBlack.otf'); /*URL to font*/
}
body{
    background-color: rgb(5, 35, 53);
    font-family: 'Lovelo';
}
.header-drop{
    width: 100%;
    height: 7rem;
    top:4rem;
    background-color: rgb(223, 82, 0);
    z-index: -1;
    position: absolute;
    visibility: hidden;
}
.header-dropbg{
    width: 100%;
    height: 14rem;
    background-color: rgb(0, 4, 22);
    z-index: -2;
    position: absolute;
    visibility: hidden;
}
.header-drop.animated{
    visibility: visible;
}
.header-dropbg.animated{
    visibility: visible;
}
.head-fixed{
    width: 100%;
    height: 8rem;
    position: fixed;
    z-index: 1;
}

.centerNavLogo{
    width: 18rem;
    height:14rem;
    left:50%;
    margin-left: -9rem;
    color: #fff;
    position: absolute;
    text-align: center;
}

.top-div{
    width: 100%;
    height: 80rem;
    position: relative;
    color: #fff;
    background-color: rgba(71, 80, 121, 0.363);
}
.searchContainer{
    width:70%;
    height:12rem;
    top:40%;
    margin: 0px auto;
    position: relative;
    text-align: center;
}
p.h1B{
    font-size: 36pt;
    width:100%;
    text-shadow: 0 0 4px black;
 }
 p.h3{
    width:100%;
    margin-top:6rem;
    text-shadow: 0 0 4px black;
 }
.videoClassTop{
    position:absolute;
    width:100%;
    height:80rem;
    z-index: -3;
}

.second-div{
    width: 100%;
    background-color: rgb(5, 35, 53);
    position: relative;
    display:block;
}
.third-div{
    width: 100%;
    height: 60rem;
    background-color: rgb(177, 178, 179);
    position: relative;
    padding-top: 5rem;
}
.footer-block{
    width: 100%;
    height: 40rem;
    position: relative;
    color:#ddd;
    background-color: rgba(3, 36, 56, 0.788);
}

.coralVideo{
    width:100%;
    height:100%;
    object-fit: cover;
}

.rightNav{
    float:right;
    margin: 4rem 3rem;
    color: #fff;
}
.leftNav{
    float:Left;
    margin: 4rem 3rem;
    color: #fff;
}

.inputWithIcon input[type=search]{
    padding-left: 2.5rem;
}
.inputWithIcon{
    margin:0px auto;
    width: 50%;
    position:relative;
}
.inputWithIcon i{
    position:absolute;
    left:0;
    padding:.8rem 1rem;
    color: #aaa;
}

img.logo{
    width: 100%;
    height: 12rem;
    object-fit: contain;
}

.videoClassBottom{
    position:absolute;
    width:100%;
    height:39rem;
    z-index: -2;
}
.if_container{
    width:90%;
    margin: 0 auto;
    height:80%;
}
.uf_block{
    width:100%;
    height: 80%;
    padding: 8rem 2rem;
}
.lf_block{
    width:100%;
    height: 20%;
    padding: 2rem;
    color:rgb(92, 92, 92);
    font-size: 9pt;
}
p.whatsNew{
    color:rgb(218, 218, 218);
    font-size: 18pt;
    text-align: center;
    width:80%;
    margin: 0 auto;
    padding: 5rem 5rem 0 5rem;
    -webkit-box-shadow: 0 4px 2px -2px gray;
    -moz-box-shadow: 0 4px 2px -2px gray;
        box-shadow: 0 4px 2px -2px gray;
}
.rightBlock{
    float:right;
    color:#fff;
    height:80%;
    width:40%;
    margin:0 0 0 2rem;
    background-color: #555;

}
.leftBlock{
    float:left;
    color:#fff;
    height:60%;
    width:40%;
    margin:5rem 1rem 0 5rem;
    padding:2rem;
    background-color: #555;
    text-align: left;
}
.mainBlock{
    color:#fff;
    height:60%;
    width:90%;
    margin:5rem auto;
    padding:2rem;
    background-color: rgb(182, 174, 174);
    text-align: left;
}

.rightBlock img{
    height:100%;
    width:100%;
    object-fit: cover;
}
.latestArrivals{
    color:#fff;
    height:35%;
    width:95%;
    margin:2rem auto;
    padding:2rem;
    text-align: center;

}
.staffPicks{
    color:#fff;
    height:35%;
    width:95%;
    margin:0 auto;
    padding:2rem;
    text-align: center;
    clear:both;
}
.imagetray{
    width:95%;
    height:130px;
    margin:0 auto;
}
.imagetray img{
    padding:1rem;
    height:120px;
    width:240px;
    object-fit: cover;
}

.glyphicon-fire{
    color:rgb(218, 62, 0);
    position:relative;
    left:50px;
    top:-35px;
    font-size: 18pt;
}

.glyphicon-heart{
    color:rgb(0, 235, 0);
    position:relative;
    left:50px;
    top:-35px;
    font-size: 18pt;
}