

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



.bgImage {
    background-image: url("../img/zoa.png");
    background-size: cover; 
}

.jumbotron h1{
    color: rgb(151, 255, 220);
}
.jumbotron p{
    color:rgb(222, 151, 255);
}












